/* @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");

* {
  margin: 0;
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 0rem 2.5rem 0rem 2rem;
  align-items: center;
}
nav .first-link {
  display: flex;
  gap: 1rem;
  font-family: 'Jost', sans-serif;
  font-size: 13px;
  font-weight: 500;
}
.first-link a {
  text-decoration: none;
  color: #000000;
  padding: 0.2rem 0.4rem;
}
.first-link a:hover {
  background-color: #ff7c65;
  color: #ffffff;
  border-radius: 0.1rem;
}

.icon-nav {
  display: flex;
  gap: 1rem;
}

.header h1 {
  font-size: 38px;
  font-weight: 500;
  font-family: "Playfair Display SC", serif;
}
.rotate {
  transform: rotate(180deg);
  display: inline-block;
  vertical-align: middle;
}
.header p {
  font-family: 'Jost', sans-serif;
  font-size: 11px;
  color: #8e8e8e;
}
.auth-layout {
  border-radius: 2px;
  border: 1.2px solid #000000;
  margin: 3rem auto;
  width: 100%;
  max-width: 22rem;
  min-height: 68vh;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}
.sign-in-container {
  border-radius: 2px;
  border: 1.2px solid #000000;
  margin: 5rem auto;
  width: 100%;
  max-width: 22rem;
  min-height: 62vh;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}
.sign-up-container {
  border-radius: 2px;
  border: 1.2px solid #000000;
  margin: 1.5rem auto;
  padding-bottom: 0.3rem;
  width: 100%;
  max-width: 22rem;
  min-height: 67vh;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-line,
.right-line {
  flex: 1;
  height: 1px;
  background-color: #ccc5c5;
}
.left-line {
  margin: 0rem 6px 0px 20.5px;
}
.right-line {
  margin: 0rem 20.5px 0px 6px;
}

.or-text {
  margin: 0 0.1px;
  font-size: 14px;
  font-family: 'Jost', sans-serif;
}

/* Sign-In Form */
.sign-in-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sign-in-form-header {
  margin-top: 2rem;
  line-height: 2.5rem;
  margin-left: 3rem;
}
.sign-in-form-header span {
  font-weight: 400;
  font-size: 12px;
  font-family: 'Jost', sans-serif;
}
.sign-in-form-header h1 {
  font-weight: 400;
  font-size: 45px;
}
.input-container {
  position: relative;
  margin: 16px 18px;
  width: 220px;
  --x: 15px;
  --y: 7px;
}

.input-field {
  width: 100%;
  padding: var(--y) var(--x);
  border: 1px solid #ccc;
  border-radius: 2px;
  outline: none;
}

.input-label {
  position: absolute;
  top: calc(var(--y) + 7px);
  left: var(--x);
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.3s;
  color: #8e8e8e;
  font-family: 'Jost', sans-serif;
  font-size: 14px;
  text-align: center;
}

.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
  top: calc(var(--y) * -0);
  font-size: 12px;
  color: #000000;
  background-color: #ffffff;
  padding: 0 2px;
}
.input-field:focus {
  outline: 1px solid#000000;
}

/* Button */
/* Button Component Styles */
.button-container {
  align-items: center;
  margin: 9px 20px 9px 20px;
  width: 252px;
}

button {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  width: 100%;
  margin: 0 auto;
  border: none;
  border-radius: 2px;
  padding: 0.7em;
  transition: all ease 0.3s;
  background: #ff7c65;
  font-family: 'Jost', sans-serif;
  cursor: pointer;
}
.custom-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plain-button button {
  background: #fff;
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  border: 1.5px solid#DCDCDC;
  padding: 0.5em;
}
.button-left {
  display: flex;
  align-items: center;
}
.social-icon {
  display: flex;
  align-items: center;
  padding-right: 6px;
}

button.disabled {
  background-color: #b9bac2;
  cursor: not-allowed;
}

button:hover {
  transform: scale(1.009);
}

/* RingLoader.css */
.ring-loader-container {
  display: flex;
  justify-content: center;
  padding: 1.6px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 12px;
  height: 12px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring-alt div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  border: 4px solid #0097ce;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0097ce transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Sign Up Link */

.sign-up-link,
.tc-link {
  text-decoration: none;
  color: #ff7c65;
  font-size: 14px;
  font-family: 'Jost', sans-serif;
}
.sign-type-suggestion {
  font-size: 14px;
  font-family: 'Jost', sans-serif;
}
.buttom-nav-cotainer {
  margin: 0.7rem 0rem 1.2rem 0rem;
}
.tc-container {
  display: flex;
  justify-content: center;
  font-family: 'Jost', sans-serif;
  font-size: 11.5px;
}


/* Add these styles in your CSS file */
.slide-fade-enter {
  opacity: 0;
  transform: translateX(100%);
}

.slide-fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}

.slide-fade-exit {
  opacity: 1;
  transform: translateX(0);
}

.slide-fade-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 500ms, transform 500ms;
}

/* Page Nav */
.header-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.8rem 2.5rem 3rem 2.5rem;
}

/* Footer */
.footer-container-body,
.footer-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #F0FFDB;
}
.footer-container {
  margin: 3rem 0rem 0rem;
  width: 520px;
}
.footer-input {
  outline: none;
  border: none;
  background-color: #F0FFDB;
  width: 30rem;
  font-size: 15px;
  font-family: 'Jost', sans-serif;
  color: #000000;
}
.footer-input::placeholder {
  color: #000000;
  font-size: 15px;
  font-family: 'Jost', sans-serif;
}
.footer-form {
  display: flex;
  justify-content: space-between;
  gap: 0.6rem;
  border-bottom: 1.5px solid #000000;
  margin-top: 3rem;
}
.footer-first-span {
  font-size: 14.2px;
  color: #8E8E8E;
  margin: 1.5rem 0rem 0.5rem 0rem;
  font-family: 'Jost', sans-serif;
}
.footer-second-span {
  font-size: 35px;
  line-height: 40px;
  text-align: center;
  font-family: "Playfair Display ", serif;
  font-weight: 400;
}
.footer-third-span {
  font-size: 13px;
  color: #8E8E8E;
  margin-top: 0.7rem;
  margin-bottom: 3rem;
  font-family: 'Jost', sans-serif;
}
.footer-third-span_special {
  color: #000000;
  font-weight: 400;
  font-size: 13.3px;
}
.about-img {
  width: 100%;
}
.about_header_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1.5rem;
}
.about_header_container h1 {
  font-weight: 400;
  font-size: 48px;
}
.about_header_container span {
  font-weight: 400;
  font-size: 15px;
  color: #8E8E8E;
  font-family: 'Jost', sans-serif;
}
.about_section_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about_section_container .first_span {
  font-weight: 400;
  font-size: 17px;
  margin: 1.5rem 0;
}
.about_section_container .second_span {
  font-size: 53px;
  text-align: center;
  max-width: 720px;
  font-family: "Playfair Display ", serif;
  margin-bottom: 2.3rem;
}
.fashion {
  color: #FF7C65;
  font-style: italic;
}
.ethical {
  color: #009639;
  font-style: italic;
}
.about_page_article {
  max-width: 787px;
  font-size: 17px;
}
.about_page_article p {
  margin-bottom: 1.1rem;
  font-family: 'Jost', sans-serif;
}
.refrence_container {
  margin: 1.7rem 0 3rem 0;
}
.refrence {
  font-weight: 400;
  font-size: 30px;
  font-style: italic;

}
.refrence_special {
  color: #ff7c65;
}
.refrence_name {
  font-weight: 400;
  font-size: 16px;
  font-family: 'Jost', sans-serif;
  margin: 0.5rem 0 1rem 0;
}

/* membership-page */

.membership-container {
  max-width: 880px;
  margin: 0 auto;
}
.membership-container h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 1rem;
}
.membership-container article {
  line-height: 24px;
}
.membership-container article p {
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Jost', sans-serif;
}
.membership-img {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.membership-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}
.membership-card span {
  font-size: 24px;
  font-family: "Playfair Display ", serif;
}
.selection-card {
  display: flex;
}

/* Home Page */
.home_page-container {
  margin: 0 0rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.home_page_img-container {
  max-width: 97.7%;
}
.home_page-container h1 {
  font-weight: 400;
  font-size: 50px;
  font-family: "Playfair Display ", serif;
  margin-bottom: 2.2rem;
}
.home_page-container h2 {
  font-weight: 400;
  font-size: 44px;
  font-family: "Playfair Display ", serif;
  margin: 2rem 0 1rem;
}
.home_page-first-span {
  font-size: 17.5px;
  font-family: "Playfair Display ", serif;
  margin-bottom: 1.7rem;
}