@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');

* {
  margin: 0;
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 5rem 0rem 2rem;
  align-items: center;
}
nav .first-link {
  display: flex;
  gap: 1rem;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 13px;
  font-weight: 500;
}
.first-link a {
  text-decoration: none;
  color: #000000;
  padding: 0.2rem 0.4rem;
}
a:hover {
  background-color: #FF7C65;
  color: #FFFFFF;
  border-radius: 0.3rem;
}

.icon-nav {
  display: flex;
  gap: 1rem;
}
/* .header {
  text-align: center;
} */
.header h1 {
  font-size: 40px;
  font-weight: 500;
  font-family: 'Playfair Display SC', serif;
}
.rotate {
  transform: rotate(180deg);
  display: inline-block;
}
.header p {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 12px;
  color: #8E8E8E;
}
.auth-layout{
  border-radius: 2px;
  border: 1.2px solid #000000;
  margin: 3rem auto;
  width: 100%;
  max-width: 22rem;
  min-height: 65vh;
}

/* Sign-In Form */
.sign-in-form{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sign-in-form-header{
  margin-top: 2.5rem;
  line-height: 2.5rem;
  margin-left: 3rem;
}
.sign-in-form-header span {
  font-weight: 400;
  font-size: 15px;
  font-family: 'Didact Gothic', sans-serif;
}
.sign-in-form-header h1 {
  font-weight: 400;
  font-size: 50px;
}
.input-container {
  position: relative;
  margin: 20px;
  width: 220px;
  --x: 15px;
  --y: 7px;
}

.input-field {
  width: 100%;
  padding: var(--y) var(--x);
  border: 1px solid #ccc;
  border-radius: 2px;
  outline: none;
}

.input-label {
  position: absolute;
  top: calc(var(--y) + 7px);
  left: var(--x);
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.3s;
  color: #8E8E8E;
  font-family: 'Didact Gothic', sans-serif;
}

.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
  top: calc(var(--y) * -0);
  font-size: 12px;
  color: #000000;
  background-color: #FFFFFF;
  padding: 0 2px;
}
.input-field:focus {
  outline: 1px solid#000000;
}

/* Button */
/* Button Component Styles */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 252px;
}

button {
  font-size: 12px;
  font-weight: 500;
  color: #FFF;
  width: 100%;
  margin: 0 auto;
  border: none;
  border-radius: 2px;
  padding: 0.7em;
  transition: all ease 0.3s;
  background: #FF7C65;
  font-family: 'Didact Gothic', sans-serif;
}

button.disabled {
  background-color: #B9BAC2;
  cursor: not-allowed;
}


button:hover {
  transform: scale(1.009);
}


/* RingLoader.css */
.ring-loader-container {
  display: flex;
  justify-content: center;
  padding: 1.6px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 12px;
  height: 12px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 12px;
  height: 12px; 
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}


.lds-ring-alt div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  border: 4px solid #0097CE;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0097CE transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

